/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* Veralign center text */
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/****************************
	Home 1
*****************************/
.top-products {
  margin-top: 60px;
}

body.layout-boxed-md #page #leo-megamenu .navbar-nav > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
